<GridLayout rows="auto, auto, *, auto" class="page">
  <GridLayout row="0" rows="60,60" columns="*, *, *, *">
    <Button text="Enable Location" row="0" col="0" textWrap="true" (tap)="enableLocationTap()"></Button>
    <Button text="Get Current Location" row="0" col="1" textWrap="true" (tap)="buttonGetLocationTap()"></Button>
    <Button text="Start Monitoring" row="0" col="2" textWrap="true" (tap)="buttonStartTap()"></Button>
    <Button text="Stop Monitoring" row="0" col="3" textWrap="true" (tap)="buttonStopTap()"></Button>
    <Button text="Nativescript Directions" row="1" col="0" textWrap="true" (tap)="addDirections()"></Button>
    <Button text="Google Directions" row="1" col="1" textWrap="true" (tap)="getDirectionFromGoogleMaps()"></Button>
  </GridLayout>
  <GridLayout row="1" *ngIf="locations.length" height="400">
    <MapView #mapView [latitude]="locations[0].latitude" [longitude]="locations[0].longitude" [zoom]="zoom"
      [minZoom]="minZoom" [maxZoom]="maxZoom" [bearing]="bearing" [tilt]="tilt" i-padding="50,50,50,50"
      [padding]="padding" (mapReady)="onMapReady($event)" (markerSelect)="onMarkerEvent($event)"
      (markerBeginDragging)="onMarkerEvent($event)" (markerEndDragging)="onMarkerEvent($event)"
      (markerDrag)="onMarkerEvent($event)" (markerInfoWindowTapped)="onMarkerEvent($event)"
      (coordinateTapped)="onCoordinateTapped($event)" (cameraChanged)="onCameraChanged($event)"
      (cameraMove)="onCameraMove($event)"></MapView>
  </GridLayout>
  <ListView row="2" [items]="locations">
    <ng-template let-item="item">
      <Label text="{{ item.latitude + ', ' + item.longitude + ', ' + item.altitude }}"></Label>
    </ng-template>
  </ListView>
  <Button text="Clear" row="3" (tap)="buttonClearTap()"></Button>
</GridLayout>